<img  class="center"src="../../assets/Nave1.jpg" alt="Italian Trulli">
<div>
    <h2 class="title" style=" font-size: 40px;  font-family: 'Fjalla One', sans-serif;" >BIENVENIDO AL BAR LA NAVE</h2>
    <p class="parafo">Un bar en el que todo mundo es bienvenido, en el que cada persona puede disfrutar de la mejor musica y sobre todas las cosas con los mejores precios.</p>
</div>
<img  class=" center "src="../../assets/Lado.jpg" alt="Italian Trulli">
 

<footer  class="py-4 text-white-50  ">
    
    <div class="container text-center">
      <small>Copyright &copy; barlanave</small>
    </div>
  </footer>